.news-hor__item {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}
.news-hor__item .news-hor__item__title {
    font-size: 15px;
    line-height: 19px;
    max-height: 60px;
    margin-bottom: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.news-top__item a img{
    width: 100%;
    height: auto;
}
.news-hor__item__time {
    font-size: 13px;
    line-height: 22px;
    color: #9b9b9b;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
}
.news-top__item .news-top__item__tit, .news-top__item h3 a {
    font-size: 20px;
    line-height: 26px;
    max-height: 52px;
    overflow: hidden;
    display: block;
    margin-bottom: 3px;
}
.news-top__item__time {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #9b9b9b;
}
.news-hor__item__img {
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    margin-right: 10px;
}.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    padding-top: 15px;
}
.news-mostView {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;  padding: 0;
}
.news-mostView li {
    display: -ms-flexbox;
    display: flex;
    color: #3d3d3d;
  
}
.news-mostView li:first-child span {
    background: #cb1c22;
}
.news-mostView li:nth-child(2) span {
    background: #99a2aa;
}
.news-mostView li span {
    -ms-flex: 0 0 40px;
    flex: 0 0 40px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #ced4da;
}
.news-mostView li a {
    color: #3d3d3d;
}
.news-mostView li h3 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    max-height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}.news-mostView li:not(:last-child) {
    margin-bottom: 24px;
}
.card-header1 {
    padding: 0 0 0 10px;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.news__item:not(:last-child), .news__item:not(:nth-child(7)) {
    padding-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 20px;
}
.news__item {
    display: -ms-flexbox;
    display: flex;
}
.news__item__img {
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    margin-right: 30px;
}
.news__item__img img{
    width: 100%;
}
.news__item__cate {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 17px;
}
.news__item h3 {
    font-size: 22px;
    line-height: 26px;
    max-height: 52px;
    font-weight: 700;
    overflow: hidden;
    margin-bottom: 8px;
}
.news__item__text {
    font-size: 14px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: 400;
    overflow: hidden;
    margin-bottom: 15px;
    color: #555;
}
.news__item__user {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.news__item__user span {
    font-size: 14px;
    line-height: 22px;
    margin-right: 5px;
    color: #9b9b9b;
}
.news__item__user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}.new-product, .new-product__item {
    display: -ms-flexbox;
    display: flex;
}.new-product__item:not(:last-child) {
    margin-bottom: 20px;
}.new-product {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
}.new-product__title {
    line-height: 18px;
    margin-bottom: 4px;
    margin-top: 3px;
    font-weight: 400;
    font-size: 16px;
    max-height: 36px;
    overflow: hidden;
    display: block;
    color: #3d3d3d;
}.new-product__post {
    font-size: 14px;
    line-height: 19px;
    display: block;
}

      /*Nav menu toggle*/
      /* Media Query for low resolution  Iphone, Ipads */
      @media (min-width: 320px) and (max-width: 767px) {
        .news__item {
            display: -ms-flexbox;
            display: block;
        }
        .news__item__img {
            -ms-flex: 0 0 300px;
            flex: 0 0 300px;
            margin-right: 0px;
        }
        .card-mobile{
            padding-right: 2px !important;
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 4px;
            padding-top: 15px;
        }
        .card.news-section{
            position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:none;
    border-radius: 0px;
    padding-top: 15px
        }
        .card{
            margin-bottom: 18px
        }
        .blog{
            margin-top: 79px;
        }
      }
  
      /* Media Query for Tablets Ipads portrait mode */
      @media (min-width: 768px) and (max-width: 1024px) {
        .card-mobile{
            padding-right: 2px !important;}

        .news__item__text{
    -webkit-line-clamp: 2;
    margin-bottom: 2px;
        }
        .news__item__img {
            -ms-flex: 0 0 300px;
            flex: 0 0 200px;}
            .news__item:not(:last-child), .news__item:not(:nth-child(7)) {
                padding-bottom: 0px;
            
            }
            .col-tablet{
                display: none;
            }
            .blog{
                margin-top: 100px;
            }
      }
  
      /* Media Query for Laptops and Desktops */
      @media (min-width: 1300px) {

        
      }
      .content-inner{
        background-color: #fff;
        padding: 10px;
      }
      #news-hor{
        background-color: #fff;
        padding: 10px;
      }
      .rpbt_shortcode {
        text-align: left;
        font-size: 14px;
        border-bottom: 1px dotted #ddd;
        border-top: 1px dotted #ddd;
        margin-bottom: 10px;
    }
    .content-inner .img{
        text-align: center;
    }