body {
    font-family: 'Roboto';
}

.promotion_wrapper {
    border: #0159A0 solid 1px;
    border-radius: 4px;
    padding: 10px 0 0;
    position: relative;
    overflow: visible;
    margin: 10px 0;
    float: left;
    width: 100%;
}

.promotion_wrapper b {
    background: #0159A0;
    border-radius: 11px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top: -13px;
    left: 10px;
    vertical-align: middle;
    line-height: 26px;
    clear: both;
    padding: 0 15px;
    text-transform: uppercase;
}

.khuyenmai-info {
    padding: 10px 10px 0;
}

.selectOpt {
    background-color: #f7f7f7;
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}

.title-promotion {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 14px;
    color: #434242c9;
    text-transform: uppercase;
}

.title-promotion b {
    color: #0159A0;
}

.promotion-cirle-number {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 2px;
    background: #fff;
    color: #0159A0;
    text-align: center;
    font-size: 16px;
    display: block;
    float: left;
    margin-right: 5px;
    position: absolute;
    top: 25%;
    font-weight: 600;
    margin-top: -4px;
}

#lt-promotion-pack .el-promotion-pack span {
    display: block;
    font-size: 14px;
}

.pack-detail {
    margin-bottom: 5px;
    position: relative;
}

.phu-kien,
.phu-kien span {
    font-size: 13px;
}

.cau-hinh-cu {
    width: 100%;
    height: 360px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cau-hinh-cu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.cau-hinh-cu::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.cau-hinh-cu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}

.tieu-de-1 i {
    font-size: 11px;
    color: #ccc
}

.tieu-de-1 {
    margin-bottom: 0em !important;
    margin-top: 10px;
    font-size: 14px;
}

.big-button {
    margin-top: 10px;
    color: #fff;
    font-size: 13px;
    padding: 3px 5px;
    line-height: 18px;
    width: 100%;
    border-radius: 5px;
    display: block;
    text-align: center;
    cursor: pointer;
    background: #277cea;
    border: solid 1px #1d72e0;
}

.policy li:last-child {
    border-bottom: none;
}

.policy li {
    display: block;
    overflow: hidden;
    padding: 7px 0 3px 0px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin: 0 0;
    border-bottom: solid 1px #f0f0f0;
    position: relative;
}

.policy li b,
.policy li i {
    color: #434242c9!important;
}

.policy {
    padding: 0;
    margin-bottom: 0;
}

.giamgia {
    font-size: 12px;
    margin-bottom: 10px;
}

.linked {
    display: inline-flex;
    flex-wrap: wrap;
}

.linked .item {
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: calc((100% / 2) - 10px);
    text-align: center;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.linked .item span {
    margin: 0;
    color: #646161;
    font-size: 14.6px;
}

.linked .item strong {
    font-size: 14px;
    display: block;
    color: #0159A0;
}

.color-item {
    width: 30px;
    height: 30px;
    float: left;
    margin: 0 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
}

.button {
    font-family: Arial;
    padding: 3px 7px;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 10px black;
}

.button:active {
    top: 12px;
    box-shadow: 0px 2px 10px black;
}

div.video {
    width: 420px;
    height: 315px;
    display: none;
    position: fixed !important;
    left: 344.5px !important;
    top: 118px !important;
}

div.video-wrapper {
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.st-boxPromo {
    border-radius: 4px;
    border: solid 1px #e9ecef;
    background-color: #f8f9fa;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.st-boxPromo .title {
    padding: 8px 10px;
    color: #212529;
    font-weight: 500;
    -webkit-box-shadow: inset 0 -1px 0 0 #e9ecef;
    box-shadow: inset 0 -1px 0 0 #e9ecef;
}

.st-boxPromo .title--more {
    padding: 0;
    -webkit-box-shadow: inset 0 1px 0 0 #e9ecef;
    box-shadow: inset 0 1px 0 0 #e9ecef;
}

.st-boxPromo .title--more span {
    padding: 4px 10px;
    font-weight: 500;
    background-color: #e9ecef;
    display: inline-block;
    border-radius: 0 0 4px 0;
}

.st-boxPromo__list--more li i {
    color: #33b530;
    font-size: 14.5px;
    margin-right: 8px;
    line-height: 1;
    margin-top: 7px;
}

.st-boxPromo__list {
    margin-bottom: 4px;
}

.st-boxPromo__list {
    margin-bottom: 4px;
    padding: 0;
}

.st-boxPromo__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 4px 10px;
}

.st-boxPromo__list .radio {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.st-boxPromo__list .radio input {
    margin: 2px 8px 0 0;
}

.st-boxPromo__list .radio label {
    line-height: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
}

.st-promoProduct__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.st-promoProduct__item .img {
    width: 80px;
    height: 80px;
    padding: 5px;
    margin-right: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    border-radius: 4px;
    border: solid 1px #dee2e6;
    position: relative;
}

.st-promoProduct__item .info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.st-promoProduct__item .info .name {
    font-weight: 400;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    font-size: 14px;
}

.st-promoProduct__item .info .center {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 4px;
    font-size: 14px;
}

.re-price-strike {
    color: #99a2aa;
    display: inline-block;
    text-decoration: line-through;
}

.re-price {
    color: #0159A0;
    font-weight: 500;
    display: inline-block;
    margin-right: 4px;
}

.addToCard p {
    color: #495057;
    border-radius: 3px;
    border: solid 1px #ced4da;
    padding: 3px 6px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    background: #0159A0;
}

.addToCard {
    padding-left: 14px;
}

.description-center {
    padding-right: 0;
}

.cam_ket {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0px 0px;
    padding: 11px 0px;
    background: white;
    text-align: center;
}

.cam_ket .item {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 100px;
    flex-shrink: 0;
    text-decoration: none;
}

.cam_ket .item>img {
    width: 39px;
    height: 39px;
    object-fit: contain;
}

.cam_ket .item>span {
    margin-top: 12px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    color: rgb(36, 36, 36);
    width: 90px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
}

.color-list {
    margin-bottom: 42px;
}

.area_oldprice {
    margin-top: 0px;
    margin-left: 11px;
}

.area_oldprice strong {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
    margin-right: 5px;
    margin-left: 36px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
}

#clockdiv>div {
    display: inline-block;
}

#clockdiv div>span {
    padding: 0px 20px;
    border-radius: 3px;
    background: #0159a094;
    display: inline-block;
    font-size: 14px;
}

.smalltext {
    padding-top: 5px;
    font-size: 11px;
    color: #000;
}

.cau_hinh_may li p i {
    color: #7a7979a1
}

.promotag {
    float: left;
}

.promotagcont {
    background: #f6f7f8;
    color: #0159A0;
    overflow: hidden;
    width: 70px;
    border-radius: 2px;
    -webkit-box-shadow: 1px 1px 4px rgba(34, 34, 34, .2);
    box-shadow: 1px 1px 4px rgba(34, 34, 34, .2);
    text-align: center;
}

.saveamount {
    min-height: 58px;
    color: #10b48a;
    font-size: 20px;
    margin: 0 auto;
    padding-top: 4px;
    font-weight: 500;
    line-height: 2.5;
}

.promotagcont .saleorcoupon {
    background: #0159A0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.promotiondetails {
    float: left;
}

.coupontitle {
    display: block;
    margin-bottom: 8px;
    color: #222;
    font-weight: 500;
    line-height: 1.2;
    text-decoration: none;
    font-size: 13px;
}

.cpinfo {
    display: block;
    margin-bottom: 5px;
    color: #222;
    line-height: 1.7;
    text-decoration: none;
    font-size: 13px;
}

.coupondiv .cpbutton {
    float: right;
    position: absolute;
    z-index: 1;
    width: 112px;
    margin-top: -36px;
    margin-right: 16px;
    margin-left: 188px;
}

.entry-content a {
    color: #222;
}

.coupon-code {
    position: absolute;
    top: 0;
    right: -15px;
    z-index: -1;
    min-width: 100px;
    height: 36px;
    font-weight: 500;
    line-height: 3;
    text-align: right;
    padding-right: 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    font-size: 12px;
    color: #222;
    border: 1px solid #ddd;
}

.copyma .text {
    width: 80px;
    min-width: 80px;
    display: inline-block;
    position: relative;
    border: 0;
    background: #0159A0;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 3;
    text-align: right;
    padding-right: 5px;
    text-decoration: none;
    cursor: pointer;
    border-style: solid;
    border-color: #0159A0;
    border-radius: 0;
}

.copyma .text:after {
    border-left-color: #0159A0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-left: 45px solid #0159A0;
    position: absolute;
    right: -45px;
    top: 0;
}

.list-unstyled li {
    display: block;
    overflow: hidden;
    padding: 7px 0 3px 0px;
    font-size: 13px;
    color: #333;
    line-height: 20px;
    margin: 0 0;
    border-bottom: solid 1px #f0f0f0;
    position: relative;
}

.list-unstyled li:last-child {
    border-bottom: none;
}

.list-unstyled li i {
    color: #33b530;
}

.list-unstyled li span {
    font-size: 14px;
    margin-left: 10px;
    line-height: 20px;
}

.st-pd-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.st-pd-btn .btn-full {
    width: 100%;
    margin-bottom: 5px;
}

.st-pd-btn .btn--half {
    width: calc((100% - 5px)/ 2);
}

.st-pd-btn .btn-info {
    background: #0159A0;
}

.st-pd-btn .btn div {
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 23px;
    line-height: 20px;
}

.st-pd-btn .btn p {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 11px;
    line-height: 13px;
}

.btn-xl div {
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 15px !important;
    line-height: 20px;
}

.area_price span.hisprice {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #333;
    text-decoration: line-through;
    margin-right: 5px;
}

.area_price.notapply strong:before {
    content: "*";
    color: #0159A0;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.show.gallery-lightbox {
    text-align: center;
}

.area_price.notapply strong {
    padding-right: 15px;
}

.list-unstyled {
    margin-bottom: 0;
}

.check-list {
    position: relative;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
}

.check-list.checked {
    border-color: #0159A0;
    background: #0159a0b8;
    color: #ffffff;
}

.check-list .name p {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
    margin-right: 13px;
}

.check-list.checked .price_new {
    color: #fff;
    font-size: 1rem;
}

.check-list.checked .price_old {
    text-decoration: line-through;
    color: #c3c4c4;
    font-size: .875rem;
}

.check-list .price_new {
    color: #0159A0;
    font-size: 1rem;
    font-weight: 600;
}

.check-list .form-check {
    margin-right: 0;
}

.check-list .price_old {
    text-decoration: line-through;
    color: #4b5161;
    font-size: .875rem;
}

.check-list input:checked~.checkmark {
    background: #0159A0;
    border-color: #000;
}

.page-detail .check-list .checkmark {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
}

.check-list input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.check-list .checkmark {
    position: absolute;
    margin-bottom: -42px;
    margin-left: 12px;
    height: 17px;
    width: 17px;
    border: 2px solid #d2d7e1;
    border-radius: 2px;
}

.check-list input:checked~.checkmark:after {
    display: block;
}

.check-list .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate( 45deg);
}

.stroll-cauhinh {
    width: 100%;
    height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}

.stroll-cauhinh .cau_hinh {
    margin-right: 7px;
}

.stroll-cauhinh::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.stroll-cauhinh::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.stroll-cauhinh::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(left, #fff, #e4e4e4);
    border: 1px solid #aaa;
}


/* Media Query for low resolution  Iphone, Ipads */

@media (min-width: 320px) and (max-width: 812px) {
    .st-param {
        display: none;
    }
    .description-center {
        padding-right: 15px;
    }
    .dau-tien {
        margin-top: 100px;
    }
    .c-comment-box.level2 .c-comment-name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 24px;
    }
    .c-comment-box__avatar {
        display: none !important;
    }
    .c-comment-box.level2 {
        padding-left: 15px !important;
    }
    .c-progress-bar {
        background-color: #e9ecef;
        border-radius: 19.6px;
        width: 218px!important;
        height: 10px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin: 0 4px 0 5px;
    }
    .c-user-rate-form textarea {
        width: 100%;
        /* height: 68px; */
        border-radius: 4px;
        border: solid 1px #ced4da;
        background-color: #fff;
        padding: 8px 0px 8px 8px;
        outline: 0;
    }
    .gui_danhgia {
        position: relative !important;
        padding: 10px 11px !important;
        top: 0 !important;
        right: 0 !important;
        transform: initial !important;
    }
    .c-user-rate-form textarea {
        padding: 10px!important;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    .c-progress-bar {
        background-color: #e9ecef;
        border-radius: 19.6px;
        width: 140px !important;
        height: 10px;
        display: inline-block;
        position: relative;
        overflow: hidden;
        margin: 0 4px 0 5px;
    }
    .st-param {
        display: block;
    }
    .dau-tien {
        margin-top: 120px;
    }
    .cam_ket .item {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        flex-basis: 71px;
        flex-shrink: 0;
    }
    .cam_ket .item>span {
        margin-top: 12px;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.54;
        color: rgb(36, 36, 36);
        width: 68px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .cam_ket .item>img {
        width: 35px;
        height: 35px;
        object-fit: contain;
    }
    .linked .item {
        width: calc((100% / 2) - 10px);
    }
    .coupondiv {
        height: 108px;
    }
    .coupondiv .cpbutton {
        float: right;
        position: absolute;
        z-index: 1;
        width: 112px;
        margin-top: -22px;
        margin-right: 16px;
        margin-left: 145px;
    }
    .l-pd-top .st-rating {
        flex-basis: 94% !important;
    }
    .description-center {
        padding-right: 15px;
    }
    .c-comment-box__avatar {
        display: none;
    }
}


/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1580px) {}

.l-pd-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 10px;
    margin-bottom: 16px;
    -webkit-box-shadow: inset 0 -1px 0 0 #dee2e6;
    box-shadow: inset 0 -1px 0 0 #dee2e6;
    min-height: 70px;
}

.l-pd-top .st-name {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-weight: 500;
    color: #212529;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 1px;
}

.l-pd-top .st-rating {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin-top: 4px;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    font-size: 14px;
}

.st-sku {
    color: #99a2aa;
    display: inline-block;
    position: relative;
    margin-left: 4px;
    cursor: pointer;
    font-size: 13px;
    line-height: 18px;
}

.st-rating__star {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none
}

.st-rating__star li {
    margin-right: 5px;
}

.st-rating__star li i {
    color: #ea9d02;
    font-size: 15px;
}

.st-rating__link span {
    display: inline-block;
    margin: 0 5px;
}

.like-share {
    display: flex;
}

.like,
.share {
    color: #fff;
    border-radius: 3px;
    font-size: 11px;
    height: 20px;
    padding: 0 9px;
    background: #1877f2;
}

.like {
    margin-right: 10px;
}

.lable-title {
    font-size: 20px;
}

#timer {
    margin-bottom: 0;
    font-size: 13px;
    color: #0159A0;
    font-weight: 600;
}

#main #faq .card {
    margin-bottom: 0px!important;
    border: 0;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    background: #ebeaea;
    color: #222;
    padding: 15px;
}

#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
    background: #ebeaea;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
    content: "\f106";
}

#main #faq .card .collapsing {
    background: #f5f5f5;
    line-height: 30px;
}

#main #faq .card .collapse {
    border: 0;
}

#main #faq .card .collapse.show {
    background: #f5f5f5;
    line-height: 30px;
    color: #222;
}

.card-header i {
    color: #ced4da;
    margin-right: 8px;
    font-size: 26px;
}

.cam_ket a i {
    font-size: 45px;
    color: #0159A0;
    text-decoration: none;
}

.c-rate__left p {
    color: #495057;
    margin-bottom: 4px;
}

.c-rate__left .point {
    font-size: 44px;
    line-height: 60px;
    color: #cb1c22;
    font-weight: 500;
    margin-bottom: 4px;
}

.list-star {
    margin-bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.list-star ul {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.list-star ul li:not(:last-child) {
    margin-right: 5px;
}

.c-rate__left span {
    color: #99a2aa;
}

.c-progress-item label {
    font-size: 15px;
    line-height: 1.33;
}

.c-progress-item label i {
    display: inline-block;
    margin-left: 2px;
    font-size: 13px;
    color: #ea9d02;
}

.c-progress-bar {
    background-color: #e9ecef;
    border-radius: 19.6px;
    width: 275px;
    height: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0 4px 0 5px;
}

.c-progress-item span {
    font-size: 14px;
    line-height: 20px;
    color: #99a2aa;
}

.c-progress-value {
    background-color: #48bb78;
    -webkit-transition: .3s all linear;
    -o-transition: .3s all linear;
    transition: .3s all linear;
    height: 100%;
    position: absolute;
    top: 0;
    display: inline-block;
    animation: progress 3s ease-in-out forwards;
    -webkit-animation: progress 3s ease-in-out forwards;
}

.card-danhgia {
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: #fff;
}

.c-comment-box {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 17px;
    width: 100%;
    padding: 0 15px;
}

.c-comment-box__avatar {
    -ms-flex-preferred-size: 70px;
    flex-basis: 70px;
    height: 70px;
    margin-right: 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 4px;
    background: #ced4da;
    color: #fff;
}

.c-comment-box__content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.c-comment-name {
    margin-right: 5px;
    font-weight: 500;
    color: #212529;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-comment-name .time {
    font-size: 14px;
    line-height: 14px;
    color: #99a2aa;
    font-weight: 300;
    display: inline-block;
    margin-left: 4px;
}

.c-comment-text {
    color: #444b52;
    font-weight: 400;
    margin-top: 4px;
}

.c-comment-status {
    margin-top: 4px;
}

.c-user-rate-form textarea {
    width: 100%;
    height: 68px;
    border-radius: 4px;
    border: solid 1px #ced4da;
    background-color: #fff;
    padding: 8px 123px 8px 8px;
    outline: 0;
}

.row-1 {
    width: 100%;
}


/* .c-user-rate-form .btn {
    position: absolute;
    top: 34px;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px 11px;
} */

.list-star-danhgia .star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    /* width: 250px; remove this */
    height: 39px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.list-star-danhgia .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 20%; remove this */
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
}

.list-star-danhgia .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    /* width: 20%; remove this */
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
}

.list-star-danhgia .star-rating input:hover+i,
.list-star-danhgia .star-rating input:checked+i {
    opacity: 1;
}

.list-star-danhgia .star-rating i~i {
    width: 40%;
}

.list-star-danhgia .star-rating i~i~i {
    width: 60%;
}

.list-star-danhgia .star-rating i~i~i~i {
    width: 80%;
}

.list-star-danhgia .star-rating i~i~i~i~i {
    width: 100%;
}

.list-star-danhgia .star-rating.star-5 {
    width: 197px;
}

.list-star-danhgia .star-rating.star-5 input,
.list-star-danhgia .star-rating.star-5 i {
    width: 20%;
}

.list-star-danhgia .star-rating.star-5 i~i {
    width: 40%;
}

.list-star-danhgia .star-rating.star-5 i~i~i {
    width: 60%;
}

.list-star-danhgia .star-rating.star-5 i~i~i~i {
    width: 80%;
}

.list-star-danhgia .star-rating.star-5 i~i~i~i~i {
    width: 100%;
}

.hide {
    display: none;
}

.gui_danhgia {
    position: absolute;
    top: 34px;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 10px 11px;
}

.c-comment-box.level2 {
    padding-left: 85px;
}

.c-comment-box.level2 .c-comment-box__avatar {
    display: none;
}

.c-comment-box.level2 .c-comment-box__content {
    padding-left: 16px;
    margin-left: 16px;
    position: relative;
    -webkit-box-shadow: inset 5px 0 0 0 #dee2e6;
    box-shadow: inset 5px 0 0 0 #dee2e6;
    background-color: rgba(0, 0, 0, 0);
}

.tableparameter table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableparameter table td,
.tableparameter tableth {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#show-img {
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.show-image {
    z-index: 1;
    border-radius: 20px;
}

.small-img {
    width: 380px;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: 25px;
}

.small-img .icon-left,
.small-img .icon-right {
    width: 12px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.small-img .icon-left {
    transform: rotate(180deg)
}

.small-img .icon-right {
    right: 0;
}

.small-img .icon-left:hover,
.small-img .icon-right:hover {
    opacity: .5;
}

.small-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.small-container div {
    width: 800%;
    position: relative;
}

.small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
    border-radius: 7px;
}

.small-container .show-small-img:last-of-type {
    margin-right: 0;
}

