.listorder {
    display: block;
    overflow: visible;
    background: #fff;
    clear: both;
    padding-top: 10px;
    padding-left: 0
}
li.tragop-price {
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    float: left;
    width: 90%;
}
.listorder li.tragop-price span {
    float: left;
    width: 50%;
    line-height: 1.4;
    padding: 5px 0;
}
.listorder li.tragop-price span {
    float: left;
    width: 50%;
    line-height: 1.4;
    padding: 5px 0;
}
.listorder li .text-right {
    float: left;
    width: 50%;
    text-align: right;
    line-height: 1.5;
}
.listorder li:last-child {
    margin-bottom: 0;
}
li.tragop-info {
    padding: 8px 0 15px 0;
    clear: both;
}
.listorder li {
    display: block;
    overflow: visible;
    margin: 5px 30px;
}
li.tragop-info span {
    display: block;
    padding: 0 0 5px 0;
}
.listorder li .text-right strong {
    color: #d0021b;
    font-weight: normal;
}
.saveinfo {
    display: block;
    padding: 19px 0;
    height: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 0 0 5px 0;
    text-indent: 10px;
    width: 99%;
}
.cart-btt {
    background: linear-gradient(180deg ,#48A3F6,#0159A0);
    border: 1px solid #48A3F6;
    text-transform: uppercase;
    background-image: linear-gradient(-180deg,#48A3F6 0%,#0159A0 100%);
    border: 1px solid #48A3F6;
    border-radius: 4px;
    text-align: center;
    width: 580px;
    padding: 10px 14px;
    font-size: 15px;
    color: #fff;
    display: block;
    clear: both;
    box-sizing: border-box;
    margin: 10px auto 20px;
}
.btn-submit{
    display: block;
    overflow: hidden;
  
    padding: 10px 30px;
}
.cart-btt span {
    display: block;
    clear: both;
    font-weight: normal;
    text-transform: none;
    font-size: 12px;
}