.picsuccess {
    display: block;
    overflow: visible;
    position: relative;
   
}
.picsuccess img {
    display: block;
    width: 100%;

    height: auto;
}
.picsuccess .notistatus {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -18px;
    width: 280px;
    line-height: 36px;
    font-size: 16px;
    color: #00af1d;
    font-weight: 600;
    text-align: center;
    display: block;
    margin: auto;
    text-transform: uppercase;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
}
.thank {
    display: block;
    overflow: hidden;

    margin: auto;
    color: #333;
    line-height: 22px;
    padding: 30px 20px 0;
    background: #fff;
}
.titlebill {
    display: block;
    margin: 5px 20px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
    background: #f3f3f3;
    text-transform: uppercase;
    padding: 0 10px;
}
.listorder.hasline {
    box-sizing: border-box;
    margin: 0 auto;
}
.listorder {
    display: block;
    overflow: visible;
    background: #fff;
    clear: both;
    padding-top: 10px;
}
.listorder li:last-child {
    margin-bottom: 0;
}
.listorder li {
    display: block;
    overflow: visible;
    margin: 5px 30px;
}
.listorder li .colimg {
    float: left;
    overflow: hidden;
    width: 65px;
    text-align: left;
}
.listorder li img {
    display: inline-block;
    width: 55px;
    height: auto;
    margin: 5px 0 10px;
}
.listorder li .colinfo.success {
    width: 82%;
}
.listorder li .colinfo {
    display: inline-block;
    overflow: visible;
    width: 450px;
    padding-left: 5px;
}
.listorder li .colinfo.success div a {
    width: 100%;
    display: block;
}
.listorder li .colinfo a {
    display: inline-block;
    font-size: 14px;
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    width: 62%;
}
.listorder li .colinfo strong {
    font-weight: normal;
    font-size: 14px;
    color: #c10017;
    display: block;
    padding-top: 5px;
}
.onecolor {
    float: left;
    position: relative;
    width: 48%;
    background: #fff;
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}
.infoorder {
    border: 1px dotted #ffa500;
    box-sizing: border-box;
    width: 95%;
    padding: 10px 20px;
    border-radius: 4px;
}
.infoorder div {
    display: block;
    overflow: hidden;
    margin-bottom: 8px;
    padding-left: 10px;
}
.view-email {
    display: block;
    padding-left: 0 !important;
    line-height: 1.5;
}
.infoorder div strong, .callship strong {
    color: #d0021b;
}
.infoorder div:before {
    content: '•';
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #999;
    margin: -1px 8px 0 -10px;
}
.infoorder, .callship, .cty {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 5px 20px 5px 20px;
    margin: auto;
    background: #fff;
    clear: both;
}
.infoorder, .callship, .cty {
    display: block;
    overflow: hidden;
    font-size: 14px;
    color: #333;
    padding: 5px 20px 5px 20px;
    margin: auto;
    background: #fff;
    clear: both;
}
.callship a {
    color: #288ad6;
    font-weight: 600;
}
.buyother{
    padding: 5px 20px 5px 20px
}
.buyother-1 {
    display: block;
    overflow: hidden;
    background: #fff;
    line-height: 40px;
    text-align: center;
    margin: 15px auto;
    width: 300px;
    font-size: 14px;
    color: #288ad6;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #288ad6;
    border-radius: 4px;
}