.havsgk {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
}
.havsgk .item {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 33.3333%;
    color: rgb(51, 51, 51);
    margin: 30px 0px;
    padding: 0px 16px;
    text-decoration: none;
}
.loaded .image {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.loaded {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
}
.loaded .image {
    display: inline-block;
}
.item span {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 8px 0px 0px;
    max-height: 40px;
    overflow: hidden;
}

    /* Media Query for low resolution  Iphone, Ipads */ 
    @media (min-width: 320px) and (max-width: 768px) { 
        .main{
            margin-top: 120px;
        }
    } 
      
    /* Media Query for Tablets Ipads portrait mode */ 
    @media (min-width: 768px) and (max-width: 1024px){ 
      .main{
          margin-top: 120px;
      }
      .loaded {
        position: relative;
        display: inline-block;
        width: 84px;
        height: 84px;
    }
    .item span {
        display: block;
        font-size: 16px;
        line-height: 20px;
        margin: 8px 0px 0px;
        max-height: 40px;
        overflow: hidden;
    }
    .havsgk .item {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 33.3333%;
        color: rgb(51, 51, 51);
        margin: 20px 0px;
        padding: 0px 16px;
        text-decoration: none;
    }
    } 
      
    /* Media Query for Laptops and Desktops */ 
    @media (min-width: 1025px) and (max-width: 1580px){ 
        .havsgk .item {
            display: block;
    text-align: center;
    width: 100%;
    max-width: 15%;
    color: rgb(51, 51, 51);
    margin: 19px 0px;
    padding: 0px 16px;
    text-decoration: none;
        }
        .item span {
            display: block;
            font-size: 15px;
            line-height: 20px;
            margin: 8px 0px 0px;
            max-height: 40px;
            overflow: hidden;
        }
        .loaded {
            position: relative;
            display: inline-block;
            width: 85px;
            height: 85px;
        }
      }