details {
    position:relative;
  }
  details summary {
    display:block;
    cursor: pointer;
    color: #056db6;
    font-weight: 700;
  }
  details summary:focus {
    outline:none;
  }
  details[open] {
    display:block;
    padding-bottom:25px;
    padding-top:10px;
    animation: open .2s linear;
  }
  details[open] summary {
    position:absolute;
    bottom: 0;
    left:0;
  }
  
  details #open{padding-left:5px;text-align:middle;}
  details #open:after{
      display: inline-block;
      position:relative;
      top: -3px;
      padding-left: 8px;
      /* content: "\00bb"; */
      transform: rotate(90deg);
  }
  details #close:after{
    display: inline-block;
    position:relative;
    top: -3px;
    padding-left: 8px;
    /* content: "↕"; */
    transform: rotate(90deg);
}
  details[open] #open{display:none;}
  details #close{display:none;}
  details[open] #close{display:block;}
  
  ::-webkit-details-marker {display: none;}
  
  
  
  
  
  @keyframes open {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .img-khuyenmai {
    width: 39%;
    position: absolute;
    z-index: 10;
    right: -1px;
    top: 21px;
}
.category__description .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1em;
    display: inline-block;
    color: #fff;
    background: #005ec4;
    text-transform: uppercase;
    padding: 8px 23px 8px 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    position: relative;
}
.category__description .title:after {
    right: -8px;
    content: "";
    display: block;
    height: 100%;
    width: 23px;
    background: #005ec4;
    position: absolute;
    top: 0;
    transform: skewX(-15deg);
}
.category__description {
    margin-top: 32px;
    background: #f0f3fc;
    padding: 20px;
}
.blockTitle {
    position: relative;
    height: 45px;
    background: #efefef;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 20px 0px 0px;
}
.blockTitle h2 {
    display: inline-block;
    background: #056db6;
    padding: 0 8px 0 12px;
    height: 100%;
    position: relative;
    margin: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    color: #fff;
    line-height: 45px;
    font-size: 14px;
    text-transform: uppercase;
}
.blockTitle h2:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 22px solid transparent;
    border-left: 15px solid;
    border-left-color: #056db6;
    border-right: 0 solid transparent;
    border-bottom: 23px solid transparent;
    position: absolute;
    top: 0;
    right: -15px;
}
.img-khuyenmai {
    width: 39%;
    position: absolute;
    z-index: 10;
    right: -1px;
    top: 21px;
}

.img-khuyenmai img {
    width: 100%;
}

.flash-sale {
    padding-top: 10px;
}

.flash-sale-progress-bar {
    padding: 0 7px;
}

.flash-sale-progress-bar {
    background: #F03E12;
    height: 16px;
    background-size: cover;
    position: relative;
    border-radius: 8px;
}

.flash-sale-progress-bar__text {
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.flash-sale-progress-bar__complement-wrapper {
    width: 100%;
    background: transparent;
    overflow: hidden;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    height: 16px;
    border-radius: 8px;
}

.flash-sale-progress-bar__complement-sizer {
    background: #fff;
    float: right;
    position: relative;
    height: 18px;
}

.flash-sale-progress-bar__complement-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFBDA6;
}

.sale-item-card {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    padding: 7px 8px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}

.sale-item-card .label {
    background-color: rgba(255, 212, 36, .9);
    width: 38px;
    height: 35px;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    padding: 4px 2px 3px;
    font-weight: 700;
}

.sale-item-card .label-so {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-weight: 700;
    line-height: .8125rem;
    color: #ee4d2d;
    text-transform: uppercase;
    font-size: 11px;
}

.sale-item-card .label:after {
    content: "";
    width: 0;
    height: 0;
    left: 0;
    bottom: -3px;
    position: absolute;
    border-color: transparent rgba(255, 212, 36, .9);
    border-style: solid;
    border-width: 0 19px 4px;
}

.flash-sale-progress-bar__fire {
    background: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/d224da21491f6660be6e020e12aff419.png) 0 no-repeat;
    width: 22px;
    height: 27px;
    background-size: contain;
    position: absolute;
    left: 4px;
    top: -12px;
}
.box-head {
    padding: 5px 0;
    position: relative;
    height: 45px;
    background: #0159A0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius:3px 3px  0 0 ;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .box-head i {
    font-size: 20px;
    margin: 0 10px 0 0;
    color: #fff;
    font-weight: 700;
}
.box-head h3{
    color: #fff;
    font-weight: 700;
}
.gioithieu-dell{
    display: inline-flex;
    width: 100%;
    border: 1px solid #0159A0;
    border-radius: 0 0 3px 3px  ;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.gioithieu-dell .banner{
    width: 37%;
}