.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.item {
    display: none;
}

.nav-pills-custom .nav-link i {
    display: inline-block;
    margin-right: 7px;
    color: #C7C7C7;
    font-size: 20px;
}

.nav-pills-custom .nav-link.active {
    background-color: #e8f0ff;
    color: #288ad6;
    border-radius: 0 10px 10px 0;
}

.list table td>div>div>a {
    display: inline-block;
    vertical-align: top;
    color: #288ad6;
    font-size: 14px;
    padding-right: 20px;
}

.user {
    font-size: 15px;
    margin-bottom: 20px;
}

.user>a.logout-h {
    font-weight: 600;
}

.user>a {
    float: right;
    color: #288ad6;
}

.user>a.about-s {
    padding: 0 20px;
}

.user>a.feed-back {
    cursor: pointer;
}

.list>b {
    font-size: 20px;
    padding-bottom: 10px;
    display: block;
}

.list aside.h-date {
    overflow: hidden;
}

.list table {
    width: 100%;
    word-break: break-word;
}

.list table th {
    color: #818181;
    padding: 10px 5px;
    font-weight: normal;
    text-align: left;
}

.list table td:first-child {
    width: 12%;
    vertical-align: middle;
}

.list table td {
    border-top: 1px solid #e3e3e3;
    padding: 10px 5px;
    vertical-align: top;
    color: #818181;
    position: relative;
}

.list table td:first-child>a {
    width: auto;
    position: relative;
    color: #288ad6;
    top: 0;
}

.list table td>a {
    width: 50px;
    position: absolute;
    left: 0;
    top: 13px;
    color: #818181;
}

.list table td>b {
    font-weight: normal;
    color: #d0021b;
}

.list table td p.success {
    color: #289666;
}

.list table td p.cancel {
    color: #d0021b;
}

.list table td>div>a {
    color: #333;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile .fillinform {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.profile .fillinform .fillname {
    float: left;
    width: 49%;
    margin: 0 1% 0 0;
}

.profile .fillinform .fillname input {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 7px;
    color: #333;
    box-sizing: border-box;
    width: 100%;
}

.deli-address {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

.deli-address .select {
    float: left;
    width: 49%;
    margin: 1% 1% 0 0;
}

.btn-click {
    display: block;
    padding: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    width: 100%;
    background: #fff;
    text-align: left;
    color: #288ad6;
    position: relative;
    cursor: pointer;
}

.profile>a.button {
    width: 250px;
    margin: 25px auto 15px auto;
    display: block;
    background-color: #288ad6;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

.editer {
    margin-left: 10px;
}

.editer>a {
    display: inline-block;
    color: red !important;
    font-size: 13px;
    text-decoration: none;
}


/* Add indicator arrow for the active tab */

@media (min-width: 992px) {
    .header {
        margin-top: 0px;
    }
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #e8f0ff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .header {
        margin-top: 98px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .logout-h,
    .about-s,
    .feed-back,
    .table {
        display: none !important;
    }
    .item {
        display: block;
    }
    .header {
        margin-top: 98px;
    }
    .item {
        margin-top: 10px;
        border: 1px solid #e2e2e2;
        box-shadow: 0 3px 6px 0 #d8dfe3;
        border-radius: 9px;
        padding: 10px 3% 15px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .item .order-head {
        position: relative;
        width: 100%;
        clear: both;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        color: #666;
        font-size: 13px;
    }
    .item .order-head>a {
        color: #288ad6;
    }
    .item .item-container:last-child {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .item .item-container {
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .item .item-container>a {
        width: 15%;
        float: left;
        padding-top: 4px;
    }
    .item .item-container>div {
        float: right;
    }
    .item .item-container>* {
        display: inline-block;
        vertical-align: top;
    }
    .item .item-container>div>div.left {
        width: 69%;
        float: left;
    }
    .item .item-container>div>div.right {
        width: 30%;
        text-align: right;
        float: right;
        line-height: 1;
    }
    .item .item-container>div>div.left>a {
        font-size: 13px;
        color: #333;
        line-height: 1.3;
        max-height: 42px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
    }
    .item .item-container>div>div.left>* {
        margin-bottom: 5px;
    }
    .item .item-container>div>div.right>* {
        margin-bottom: 10px;
    }
    .item .item-container>div i.success {
        color: #289666;
    }
    .item .item-container>div i {
        font-style: normal;
        font-size: 11px;
        color: #666;
        line-height: 1.3;
    }
    .item .item-container>div.link>a {
        display: table-cell;
        font-size: 12px;
        color: #288ad6;
        padding-right: 10px;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


/*  */

.login>div {
    margin: 3% auto;
    border-radius: 13px;
    border: 1px solid #ccc;
    padding: 25px 0;
    background-color: #fff;
}

.login>div>img {
    max-width: 100%;
}

.login>div>* {
    display: block;
    margin-bottom: 25px;
}

.login>div>span {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.login>div.d1>form>input {
    background-image: url(../anh/icon-phone-blue.png);
    background-size: 14px 21px;
}

.login>div>form>input {
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    width: 302px;
    height: 48px;
    padding: 0 50px;
    background-repeat: no-repeat;
    background-position: 25px center;
    margin-bottom: 15px;
    font-size: 15px;
}

.login>div>form>input:hover,
.login>div>form>input:focus {
    box-shadow: none;
    outline: 0;
}

.login>div>span {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
}

.login>div>form>* {
    display: block;
    margin: auto;
}

.btn-phone {
    background-image: linear-gradient( -106deg, #51beed 2%, #288ad6 100%);
    box-shadow: 0 2px 6px 0 #9ed4ec;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
}


/* Cs chi nhánh của hàng */

.chinhanhcuahang .newstorename {
    font-size: 17px;
}

.rightshop .detailinfo div i {
    color: #0159A0;
}

.rightshop .detailinfo div {
    padding: 5px 0;
}

.rightshop .detailinfo .phone a {
    color: #0159A0;
}

.hotline-tongdai {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.shopv2-box ul {
    list-style: none;
}

.shopv2-box ul li {
    padding: 3px 0;
}

.shopv2-box ul li i {
    margin-right: 5px;
    color: #0159A0;
}

.shopv2-slide {
    margin-top: 10px;
}

.shopv2-slide-box {
    margin: 15px 0;
}

.shopv2-slide-box ul {
    margin: 10px 0 10px 45px;
    padding: 0;
    margin-left: 0;
}

.shopv2-slide-box ul>li {
    list-style: none;
}

.shopv2-slide-box li {
    width: 171px;
    height: 114px;
    float: left;
    margin: 3px;
    border: 1px solid #ccc;
    padding: 2px;
}

.shopv2-slide-box ul>li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showroom-img .carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}