#show-img {
    width: 400px !important;
    height: 400px !important;
    border-radius: 20px;
    object-fit: contain;
}

.gallery-img-product {
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    background: #fff;
    padding-bottom: 10px;
    padding: 8px 10px;
}

.show-image {
    z-index: 3;
    border-radius: 20px;
}

.small-img {
    width: 380px;
    height: 70px;
    margin-top: 10px;
    position: relative;
    left: 25px;
}

.small-img .icon-left,
.small-img .icon-right {
    width: 12px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.small-img .icon-left {
    transform: rotate(180deg)
}

.small-img .icon-right {
    right: 0;
}

.small-img .icon-left:hover,
.small-img .icon-right:hover {
    opacity: .5;
}

.small-container {
    width: 310px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.small-container div {
    width: 800%;
    position: relative;
}

.small-container .show-small-img {
    width: 70px;
    height: 70px;
    margin-right: 6px;
    cursor: pointer;
    float: left;
    border-radius: 7px;
}

.small-container .show-small-img:last-of-type {
    margin-right: 0;
}

.img-album {
    width: 800px;
    height: 700px;
    object-fit: contain;
    border: none;
}

.modal-content {
    border: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .small-img {
        width: 330px;
        height: 70px;
        margin-top: 10px;
        position: relative;
        margin-left: -35px;
    }
    #show-img {
        width: 310px !important;
        height: 377px !important;
        border-radius: 20px;
        object-fit: contain;
    }
    .small-img .icon-right {
        margin-right: -10px;
    }
    .small-img .icon-left {
        margin-left: 0px;
    }
    .display-img,
    .show-image {
        display: none !important;
    }
    .modal-backdrop.show,
    .album-product {
        display: none !important;
    }
    .modal-open {
        overflow: auto;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    .small-container .show-small-img {
        width: 45px;
        height: 45px;
        margin-right: 6px;
        cursor: pointer;
        float: left;
        border-radius: 7px;
        object-fit: contain;
    }
    #show-img {
        width: 275px !important;
        height: 285px !important;
        border-radius: 20px;
        object-fit: contain;
    }
    .small-img {
        width: 271px;
        height: 70px;
        margin-top: 10px;
        position: relative;
        margin-left: -35px;
    }
    .small-container {
        width: 310px;
        height: 70px;
        overflow: hidden;
        position: absolute;
        left: 18px;
        right: 0;
        margin: 0 auto;
    }
    .small-img .icon-left {
        margin-left: 1px;
        margin-top: 10px;
    }
    .small-img .icon-right {
        margin-top: 10px;
        margin-right: -10px;
    }
}