@media (min-width: 320px) and (max-width: 767px) {
    .justify-content-md-center{
        margin-top: 102px;
    }
    .yourCart span {
       display: none;
    }
    .listing-cart .imgsp a img {
        width: 75px;
        margin: auto;
    }
    .listing-cart .imgsp a img {
        width: 74px  !important;
        margin: auto;
    }
    .listing-cart .product-item .infosp {
        margin-left: 76px !important;
    }
    .listing-cart .name-price a {
        width: 55%!important;
    }
    .applycode button {
        width: 43% !important;
 }  
   .nav-link {
    padding: .25rem 0.25rem;
}
.sticky-sibar{
    display: none;
}
.formality-pay li {
    width: 100% !important;
}
.ordercontent .info-order h4 {
    font-size: 14px !important;
}

.box-order li .text-order {
    margin-left: 63px!important;
}
.box-order li .img-order img {
    width: 57px!important;
}
.tabslink a div {
      width: 51% !important;
  
}
.table-ul {
  
    font-size: 14px;
}
.database {
    
    padding: 10px 10px !important;
}
.table-ul li .mua{
    padding: 2px !important;
}
.table-ul li .mua .hcTxt {

    font-size: 8px !important;
   
}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .justify-content-md-center{
        margin-top: 107px;
    }
    .sticky-sibar{
        display: none;
    }
}
/* 
// Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .justify-content-md-center{
        margin-top: 0px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .justify-content-md-center{
        margin-top: 0px;
    }
 }

.buymore {
    float: left;
    overflow: hidden;
    font-size: 1rem;
    color: #288ad6;
    line-height: 16px;
    padding: 10px;
}
.yourCart span {
    float: right;
    padding: 9px 10px;
}
.buymore:before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #288ad6;
    border-left: 1px solid #288ad6;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 2px 0;
    transform: rotate(
-45deg
);
}
.middleCart {
    display: block;
    background: #fff;
    box-shadow: 0 0 18px rgb(0 0 0 / 12%);
    border-radius: 2px;
}

.listing-cart {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: column wrap;
}
.listing-cart .product-item:last-child {

    border-bottom:none;
}
.listing-cart .product-item {
    display: block;
    padding: 10px 30px;
    width: 100%;
    box-sizing: border-box;
    border-bottom:1px solid #dfdfdf;
}
.listing-cart .product-item .imgsp {
    float: left;
    width: 26%;
}
.listing-cart .imgsp a, .listing-cart .imgsp a img {
    display: block;
    overflow: hidden;
}
.listing-cart .imgsp a img {
    width: 126px;
    margin: auto;
}
#app img.lazyloaded {
    opacity: 1;
}
.listing-cart .imgsp button {
    display: block;
    overflow: hidden;
    margin: 15px auto 0;
    border: 0;
    background: #fff;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}
.listing-cart .imgsp button span {
    float: left;
    background: #ccc;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: relative;
    margin: 2px 3px 0 0;
}
.listing-cart .imgsp button span:after, .listing-cart .imgsp button span:before {
    content: "";
    width: 2px;
    height: 8px;
    background: #fff;
    position: absolute;
    transform: rotate(
45deg
);
    top: 2px;
    left: 5px;
}
.listing-cart .imgsp button span:after {
    transform: rotate(
-45deg
);
}
.listing-cart .product-item .infosp {
    display: block;
    margin-left: 154px;
    margin-top: -16px
}
.listing-cart .name-price a {
    float: left;
    width: 70%;
    font-size: 1rem;
    color: #333;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}
.listing-cart .name-price span {
    float: right;
    color: #f30c28;
    font-size: 14px;
    text-align: right;
    margin-bottom: 2px;
}
.listing-cart .name-price span strike {
    display: block;
    overflow: hidden;
    color: #666;
}
.listing-cart .infosp .name-price {
    display: block;
}

.listing-cart .choose-color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.choosenumber {
    float: right;
    overflow: hidden;
    position: relative;
    width: 100px;
    background: #fff;
    border-radius: 3px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}



.plus-minus-input {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .plus-minus-input .input-group-field {
    text-align: center;
    width: 46%;
    font-size: 14px;
    color: #333;
    float: left;
    border-color: #dfdfdf;
    border-top:1px solid #dfdfdf;
    border-left: none;
    border-right: none;
    border-bottom:1px solid #dfdfdf;
    height: 30.5px;
    text-align: center;

  }
  .listing-cart .choose-color span {
    float: left;
    color: #666;
    font-size: 12px;
    padding: 6px 0 0;
}
  .plus-minus-input .input-group-field::-webkit-inner-spin-button,
  .plus-minus-input .input-group-field ::-webkit-outer-spin-button {
    -webkit-appearance: none;
            appearance: none;
  }
  
  /* .plus-minus-input .input-group-button .circle {
    border-radius: 50%;
  }
   */

   .button.button.hollow.circle{
    border: 1px solid #dfdfdf;
    background: #fff;
    line-height: 27px;
    font-size: 14px;
    color: #a1a1a1;
   }
   .area-total {
    display: block;
    overflow: visible;
    border-top: 1px solid #ececec;
    padding: 10px 30px;
}
.area-total .discountcode .usecode span {
    overflow: hidden;
    color: #288ad6;
    font-size: 14px;
}
.area-total .total-provisional {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
}
.area-total .total-provisional span {
    float: left;
    color: #333;
}
.area-total .total-provisional span:nth-child(2) {
    float: right;
}
.area-total .total-price {
    display: block;
    overflow: hidden;
    width: 100%;
}
.area-total .total-price strong {
    float: left;
    color: #333;
    font-size: 14.8px;
}
.area-total .total-price strong:nth-child(2) {
    float: right;
    color: #f30c28;
    font-size: 14.8px;
}
.infor-customer {
    display: block;
    overflow: hidden;
    border-top: 1px solid #d1d1d1;
    padding: 10px 30px;
}
.infor-customer h4 {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}
.sex-customer .form-check,.click-choose .form-check{
    display: inline-block;
    vertical-align: middle;
    color: #333;
    margin-right: 15px;
    cursor: pointer;
    
}
.form-customer .fillinform {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.form-customer .fillinform .fillname input {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 7px;
    color: #333;
    box-sizing: border-box;
    width: 100%;
}
.form-customer .fillinform .fillname {
    float: left;
    width: 49%;
    margin: 0 1% 0 0;
}
.choosegetgoods {
    
    display: block;
    padding: 0 30px;
}
.promo {
    display: block;
    overflow: hidden;
    width: 75%;
}
.choosegetgoods h4 {
    display: block;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}
.btn-click {
    display: block;
    padding: 8px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    width: 100%;
    background: #fff;
    text-align: left;
    color: #288ad6;
    position: relative;
    cursor: pointer;
}
.deli-address{
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.cntry-district .btn-click button:after {
    content: "";
    border-top: 6px solid #288ad6;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    right: 10px;
    top: 18px;
}
.deli-address .select{
  float: left;
    width: 49%;
    margin: 2% 1% 2% 0;
    
}
.choosegetgoods .choose-content {
    background: #f6f6f6;
    padding: 5px 10px;
    border: 1px solid #e1e1e1;
    margin-top: 20px;
}
.anotheroption input {
    display: block;
    overflow: hidden;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 7px;
}
.anotheroption {
    display: block;
    border-bottom: 1px solid #d1d1d1;
    padding: 20px 0px;
}
.finaltotal .totalmoney {
    display: block;
    overflow: hidden;
    padding: 10px 0;
}
.finaltotal {
    padding: 20px 30px;
}
.finaltotal .totalmoney strong {
    float: left;
    color: #333;
}
.finaltotal .totalmoney strong:nth-child(2) {
    float: right;
    color: #f30c28;
}
.finaltotal button, .finaltotal2 {
    color: #fff;
    height: 50px;
    margin: 10px auto;
    width: 100%;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    background: linear-gradient( 180deg ,#48A3F6,#0159A0);
}
.finaltotal button, .finaltotal small {
    display: block;
    overflow: hidden;
    text-align: center;
}
details {
    position:relative;
  }
  details summary {
    display:block;
    cursor: pointer;
    color: #056db6;
    font-weight: 700;
  }
  details summary:focus {
    outline:none;
  }
  details[open] {
    display:block;
    padding-bottom:25px;
    padding-top:10px;
    animation: open .2s linear;
  }
  details[open] summary {
    position:absolute;
    bottom: 0;
    left:0;
  }
  
  details #open{
    display: block;
    overflow: hidden;
    color: #288ad6;
    font-size: 12px;
    padding: 8px 0 0;
    cursor: pointer;}
  details #open:after{
    content: "";
    border-top: 6px solid #288ad6;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
  details #close:after{
    content: "";
    border-top: 6px solid #288ad6;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    -webkit-transform: rotate(
180deg
);
}
  details[open] #open{display:none;}
  details #close{display:none;}
  details[open] #close{display:block;
    display: block;
    overflow: hidden;
    color: #288ad6;
    font-size: 12px;
    padding: 8px 0 0;
    cursor: pointer;
}
  
  ::-webkit-details-marker {display: none;}
.promo small {
    display: block;
    overflow: hidden;
    font-size: 12px;
    color: #666;
    padding: 6px 0 0 10px;
}

.promo small:before {
    content: "\2022";
    color: #d8d8d8;
    display: inline-block;
    vertical-align: middle;
    margin: 0 3px 0 -7px;
}
  .applycode.active {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
}
 .applycode input {
    float: left;
    width: 55%;
    border: 1px solid #c6c6c6;
    border-radius: 4px;
    padding: 7px;
    text-indent: 5px;
    color: #666;
    margin-right: 2%;
}
.applycode button {
    float: left;
    width: 20%;
    border: 1px solid #288ad6;
    background: #288ad6;
    color: #fff;
    text-align: center;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}
.choose-address, .choose-address ul {
    display: block;
    overflow: hidden;
    padding-left: 0;
}
.choose-address ul li {
    display: block;
    overflow: hidden;
    padding: 5px 0;
    cursor: pointer;
}
.choose-address li .delay {
    color: #e67e22;
    font-size: 12px;
}
.box-order {
    display: block;
    border: 1px solid #d1d1d1;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.box-order .rowtime {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px 5px;
}
.box-order .rowtime span {
    float: left;
    color: #333;
    width: 63%;
    font-size: 13px;
}
.box-order .rowtime span:nth-child(2) {
    float: right;
    color: #288ad6;
    width: auto;
    text-align: right;
    cursor: pointer;
}
.box-order ul {
    display: block;
    overflow: hidden;
    padding: 0 10px;
}
.box-order ul li:last-child {
    border: 0;
}
.box-order ul li {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.box-order li .img-order {
    float: left;
    width: 11%;
}
.box-order li .img-order img {
    display: block;
    overflow: hidden;
    width: 40px;
}
.box-order li .text-order {
    display: block;
    overflow: hidden;
    margin-left: 10px;
}
.text-order__product-name {
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.box-order li .text-order .amount-color {
    display: block;
    overflow: hidden;
}
.box-order li .amount-color small {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    color: #666;
    font-size: 11px;
}
.box-order .lastrow {
    display: block;
    overflow: hidden;
    margin: 0 10px;
    border-top: 1px solid #d1d1d1;
    padding: 10px 0;
}
.box-order .lastrow small {
    float: left;
    font-size: 12px;
}
.box-order .lastrow small:nth-child(2) {
    float: right;
    color: #f30c28;
}
.box-order .note {
    display: block;
    overflow: hidden;
    padding: 0 10px 10px;
    color: #f30c28;
    font-size: 12px;
    margin-top: -10px;
}

.sticky-sibar {
    width: 100%;
    height: 100%;
    min-height: 200px;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    
}
.card-support{
    box-shadow: 0 0 18px rgb(0 0 0 / 12%);
}
.card-support-heading {
    border-radius: 10px 10px 0 0;
    background-color: #FFF;
    color: #000;
    padding: 12px 10px 11px 20px;
    text-align: center;
}
.card-support-body {
    background-color: #FFF;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 10px 10px;
}
.stickki .totalmoney{
    border-bottom: 1px solid #dfdfdf;
}

/* gio hang rong */
.cartempty {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    margin-bottom: 100px;
}

.cartempty i {
    color: #F42300;
    font-size: 46px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 125px 152px;
}
.cartempty .backhome, .cartempty span {
    display: block;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}
.cartempty i {
    margin: auto;
}
.cartempty .backhome:hover{
    text-decoration: none;
    background-color: #056db6;
    color:#fff;
}
.cartempty .backhome {
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #288ad6;
    margin: 0 10px;
    color: #288ad6;
}
.cartempty p {
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
}