.database{
    display: block;
    overflow: visible;
    border-top: 1px solid #ececec;
    padding: 10px 30px; 
}
.tabslink {
    border-top: 3px solid #4a90e2;
    padding: 7px 0;
    display: block;
    clear: both;
    overflow: hidden;
    background: #fff;
}
.tabslink .current {
    color: #333;
    font-weight: 600;
    background: #fff;
}
.icontg-taichinh {
    background-position: -205px -165px;
    width: 40px;
    height: 41px;
    float: left;
    margin-right: 5px;
}
.tabslink a:first-child {
    border-left: 0;
    width: 50%;
}
.tabslink a div {
    display: block;
    overflow: hidden;
    width:21%;
    margin: auto;
}


.tabslink a.current span {
    font-weight: 300;
}
.tabslink a span {
    display: block;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    margin-top: 3px;
}
.tabslink a {
    padding: 10px 0;
    width: 49.7%;
    text-align: center;
    font-size: 14px;
    color: #4a90e3;
    text-transform: uppercase;
    border-left: 1px solid #4a90e2;
    border-top: 3px solid #fff;
}
[class^="icontg-"], [class*="icontg-"] {
    background-repeat: no-repeat;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 30px;
    vertical-align: middle;
    background-image: url(../anh/spritedesktop2020v2@2x.png);
    background-size: 301px 400px;
}
#list-feature-month b {
    color: #f00;
}
.textthg {
    float: none;
    overflow: hidden;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 10px 10px 0px;
}
.tablecontent {
    display: block;
    overflow: hidden;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.table-ul {
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    padding-left: 0;
}
.table-ul li {
    display: table;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
}
.table-ul li aside {
    display: table-cell;
    width: 25%;
    padding: 12px 5px;
}
.table-ul li aside:nth-child(2) {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.table-ul li aside {
    display: table-cell;
    width: 25%;
    padding: 12px 5px;
}
.table-ul li aside:nth-child(3) {
    border-right: 1px solid #ddd;
}
.comlogo {
    text-align: center;
}
.icontg-homecredit {
    background-position: -4px 1px;
    width: 129px;
    height: 16px;
}
.icontg-fecredit {
    background-position: -4px -244px;
    width: 126px;
    height: 13px;
}
.icontg-acs {
    background-position: -53px -319px;
    width: 76px;
    height: 24px;
}

.table-ul li {
    display: table;
    table-layout: fixed;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.table-ul li:nth-child(2n) {
    background: #fff;
}
.table-ul li label {
    color: #d0021b;
}
.table-ulli aside span.special-percent {
    background: #ff0;
    color: #d0021b;
    padding: 5px 15px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
}
.table-ul li .subtable {
    display: table;
    width: 100%;
}
.table-ul li .mua {
    overflow: hidden;
    border-radius: 2px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 25px;
    background: #fd6e1d;
    background: linear-gradient( 
        180deg
         ,#48A3F6,#0159A0);
    margin-left: 5px;
    text-align: center;
    display: block;
    margin: 0;
}
.table-ul li .mua .hcTxt {
    display: block;
    clear: both;
    font-size: 11px;
    text-transform: initial;
}
.table-ul li .mua.disabled, .ward.disabled {
    background: #d9d9d9;
    cursor: not-allowed;
    height: 50px;
    position: relative;
}
.icontg-thetd {
    background-position: -250px -165px;
    width: 45px;
    height: 41px;
    float: left;
    margin-right: 5px;
}
.tabslink1   span {
    display: block;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    margin-top: 3px;
}