.header-deal {
    background: #fff;
    border: 1px solid #eee;
    padding: 15px 15px 5px;
    border-bottom: 0;
    display: flex;
    border-bottom: 1px solid #eee;
}

a:hover {
    text-decoration: none;
}

.header-deal .list-childs-cat a {
    font-size: 14px;
    padding: 0px 25px;
}

#homepage-deal {
    background: #fff;
}

.header-deal a {
    display: inline-block;
    border: 1px solid #eee;
    color: #282828;
    padding: 0px 10px;
    margin: 0 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding-left: 40px;
    position: relative;
    margin-bottom: 10px;
    transition: 0.25s all;
    -webkit-transition: 0.25s all;
    height: 37px;
    line-height: 37px;
    text-decoration: none;
}

.header-deal a:hover {
    background-color: #0159A0;
    color: #fff;
}

.hot-sale {
    margin-right: 47px;
    margin-top: 5px;
}

.witem img {
    height: auto;
    max-width: 100%;
    transition: 0.3s all;
    -webkit-transition: 0.3s all;
}

.product-item-info {
    padding: 0 15px 15px;
}

.product-item-info .info {
    padding: 0;
}

.product-item-link {
    text-decoration: none;
}

.product-item .product-item-link {
    position: relative;
    display: block;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin: 0 5px;
}

.product-item-info h3 {
    margin: 0 0 10px;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    text-align: left;
    width: 95%;
    overflow: hidden;
    max-height: 40px;
    text-decoration: none;
    min-height: 40px;
}

.box-price-product {
    display: flex;
    -webkit-display: flex;
    flex-flow: row nowrap;
    flex: 100%;
}

.product-item-info .price-box {
    margin-bottom: 8px;
}

.box-price-product .col-prepaid {
    text-align: right;
    width: 40%;
}

.witem .price {
    font-weight: bold;
    color: #0159A0;
}

.market-price {
    color: #757575;
    font-size: 13px;
    text-decoration: line-through;
    display: block;
    clear: both;
}

.box-price-product .col-prepaid label {
    background: #f1f1f1;
    border-radius: 3px;
    -webkit-border-radius: 5px;
    line-height: 1;
    padding: 5px 0;
    font-size: 10px;
    text-align: center;
    margin-bottom: 0;
}

.box-price-product .col-prepaid span {
    display: block;
    font-size: 14px;
    color: #0159A0;
}

.percent-deal {
    position: absolute;
    bottom: 142px;
    left: 22px;
    background: #0159A0;
    color: #fff;
    font-size: 11px;
    padding: 0px 6px 7px 9px;
    height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    line-height: 19px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.label-sticker {
    position: absolute !important;
    top: -5px;
    right: 0px;
}

.label-sticker img {
    max-width: 55px !important;
}

.filter {
    background-color: #fff;
}

.deal-intro {
    text-align: left;
    font-size: 20px;
    margin: 25px 0;
}

.deal-intro h2 {
    font-weight: 800;
    font-size: 20px;
    font-style: italic;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#2376a7, #09487c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.witem .image-container {
    padding: 0px 10px;
}

.product .product__box-name h3 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.4em;
    color: #222;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product .product__box-price .special-price {
    display: inline-block;
    float: left;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    color: #0159A0;
}

.product .product__box-price .old-price {
    font-size: 12px;
    color: #716b6b;
    text-decoration: line-through;
    margin: 0!important;
}

.product .product__box-price>p:not(:last-child) {
    margin-right: 5px!important;
}

.product__box-price {
    margin-bottom: 10px;
}

.product .product__box-promotion p {
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.4;
    color: #444;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product .product__box-promotion {
    padding: 5px!important;
    border-radius: 2px;
    background-color: #f8f8f8;
}

.product__box-ratingresult i.fa-star.checked {
    color: orange;
}

.product__box-ratingresult {
    font-size: 12px;
    line-height: 1.2;
}

.fillter-home .flex .content .diem-nhan {
    background: #0159A0 !important;
    color: #fff;
}

.menu-sub h5 {
    color: #0159A0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    margin-top: 4px;
}

.sap-khai-truong {
    font-size: 10px;
    position: absolute;
    background: #0159A0;
    color: #fff;
    padding: 3px 6px;
    margin-left: 10px;
    text-transform: uppercase;
}

.sap-khai-truong:before {
    position: absolute;
    left: -4px;
    top: 0px;
    content: '';
    border-right: 4px solid #0159A0;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
}

.sap-khai-truong:after {
    position: absolute;
    top: 0px;
    content: '';
    right: -4px;
    border-right: 4px solid transparent;
    border-top: 9px solid #0159A0;
    border-bottom: 9px solid #0159A0;
}

.menu-con {
    margin: 0;
    padding: 0;
}


/* .col-2dot4, 
    .col-sm-2dot4, 
    .col-md-2dot4, 
    .col-lg-2dot4,  */

.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}


/* @media (min-width: 540px) {
        .col-sm-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    @media (min-width: 720px) {
        .col-md-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    @media (min-width: 960px) {
        .col-lg-2dot4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    } */

@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.havsgk {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
}

.havsgk .item {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 33.3333%;
    color: rgb(51, 51, 51);
    margin: 30px 0px;
    padding: 0px 16px;
    text-decoration: none;
}

.loaded .image {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.loaded {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
}

.loaded .image {
    display: inline-block;
}

.item span {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 8px 0px 0px;
    max-height: 40px;
    overflow: hidden;
}


/* Media Query for low resolution  Iphone, Ipads */

@media (min-width: 320px) and (max-width: 768px) {
    .main {
        margin-top: 120px;
    }
    .wrap-suggestion {
        width: 376px !important;
        top: 103px !important;
        text-align: left;
    }
}


/* Media Query for Tablets Ipads portrait mode */

@media (min-width: 768px) and (max-width: 1024px) {
    .main {
        margin-top: 120px;
    }
    .loaded {
        position: relative;
        display: inline-block;
        width: 84px;
        height: 84px;
    }
    .item span {
        display: block;
        font-size: 16px;
        line-height: 20px;
        margin: 8px 0px 0px;
        max-height: 40px;
        overflow: hidden;
    }
    .havsgk .item {
        display: block;
        text-align: center;
        width: 100%;
        max-width: 33.3333%;
        color: rgb(51, 51, 51);
        margin: 20px 0px;
        padding: 0px 16px;
        text-decoration: none;
    }
    .wrap-suggestion {
        width: 769px !important;
        top: 113px !important;
        text-align: left;
    }
}


/* Media Query for Laptops and Desktops */

@media (min-width: 1025px) and (max-width: 1680px) {
    .havsgk .item {
        display: block;
        text-align: center;
        width: 12%;
        max-width: 11%;
        color: rgb(51, 51, 51);
        margin: 30px 0px;
        padding: 0px 16px;
        text-decoration: none;
    }
    .item span {
        display: block;
        font-size: 12px;
        line-height: 20px;
        margin: 8px 0px 0px;
        max-height: 40px;
        overflow: hidden;
    }
    .loaded {
        position: relative;
        display: inline-block;
        width: 54px;
        height: 54px;
    }
}

.cdt-list-tag {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 23px;
    line-height: 23px;
    font-size: 12px;
    padding: 0 8px 0 8px;
    color: #8392a5;
    border-radius: 4px;
    border: solid 1px #b4bdce;
    margin: 0 10px 6px 0;
    cursor: pointer;
}

.cdt-list-tag i {
    margin-left: 5px;
}

.fs-mnsul3>li {
    float: left;
    width: 33.33%;
    list-style: none;
    font-size: 13px;
    padding: 5px 0;
}

.fs-mnsul3>li>a {
    color: #3d3d3d;
}

.fs-mnsul3,
.fs-mnsul1 {
    padding: 0;
}

.fs-mnsul1>li {
    padding: 5px 0;
    list-style: none;
    font-size: 13px;
}

.menu_muc_gia {
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.seachform-header {
    width: 23%;
    border: none;
    font-size: 14px;
}

.seachform-header.active {
    border: none;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    outline: 0;
    border-color: #fff;
}

.seachform-header:hover,
.seachform-header:focus {
    box-shadow: none;
    outline: 0;
    border-color: #fff;
}

.form-search {
    width: 44%;
}

.shopping-cart-header .badge {
    background-color: red;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    background: white;
    width: 320px;
    position: absolute;
    top: 48px;
    right: -10px;
    border-radius: 3px;
    padding: 15px 15px 0 15px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    opacity: 0;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(0);
    transform-origin: right top 0;
    transform: scale(0);
}

.shopping-cart.active {
    z-index: 11;
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding: 0;
    padding-top: 15px;
    list-style: none;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
    max-width: 70px;
    max-height: 70px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #00c0cb;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart-header .cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.top-cart .cart-contents:hover {
    text-decoration: none;
}

.button-Checkout {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 15px 0 15px 0;
}

.button-Checkout:hover {
    text-decoration: none;
    color: #fff;
}

.shopping-cart-header .fa-shopping-cart {
    margin-top: 8px;
}

.wrap-suggestion {
    top: 35px;
    display: block;
    border: 1px solid #e2e2e2;
    background: #fff;
    position: absolute;
    left: 0;
    width: 576px;
    top: 45px;
    z-index: 10;
    padding-left: 0;
    padding: 10px;
    border-radius: 2px;
}

.wrap-suggestion:before {
    border-color: rgba(218, 218, 218, 0);
    border-bottom-color: #dadada;
    border-width: 9px;
    margin-left: -9px;
}

.wrap-suggestion:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-left: -8px;
}

.wrap-suggestion:after,
.wrap-suggestion:before {
    bottom: 100%;
    left: 80px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.wrap-suggestion li {
    display: block;
    background: #fff;
    overflow: hidden;
    list-style: none;
    border-bottom: 1px dotted #ccc;
}

.wrap-suggestion li a {
    display: block;
    overflow: hidden;
    padding: 6px;
    color: #333;
    font-size: 12px;
}

.wrap-suggestion li a img {
    float: left;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0 6px 0 0;
}

.wrap-suggestion li a h3 {
    display: block;
    width: auto;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
}

.wrap-suggestion li a span.price {
    font-size: 14px;
    color: #d0021b;
    float: none;
    font-weight: bold;
    display: inline-block;
    padding: 2px 2px 0 0;
}

.wrap-suggestion li a cite {
    font-size: 12px;
}