
.table-wrapper {
	background: #fff;

	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}
table.table tr th:first-child {
	width: 60px;
}
table.table tr th:last-child {
	width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}	
table.table td:last-child i {
	opacity: 0.9;
	font-size: 17px;
	margin: 0 5px;
}
table.table td a {
	color: #fff;
	font-weight: bold;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}
table.table td a:hover {
	color: #2196F3;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #F44336;
}
table.table td i {
	font-size: 19px;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}
.pagination li.active a:hover {        
	background: #0397d6;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}    
/* Custom checkbox */
.custom-checkbox {
	position: relative;
}
.custom-checkbox input[type="checkbox"] {    
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9;
}
.custom-checkbox label:before{
	width: 18px;
	height: 18px;
}
.custom-checkbox label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	background: white;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 2;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 11px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg);
}
.custom-checkbox input[type="checkbox"]:checked + label:before {
	border-color: #03A9F4;
	background: #03A9F4;
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
	border-color: #fff;
}
.custom-checkbox input[type="checkbox"]:disabled + label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	
table.dataTable tr th.select-checkbox.selected::after {
    content: "✔";
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: rgb(176, 190, 217) 1px 1px, rgb(176, 190, 217) -1px -1px, rgb(176, 190, 217) 1px -1px, rgb(176, 190, 217) -1px 1px;
}
.image_product img{
	width:334px ;
	height:236px;
}
.tab-content{
	padding-top: 11px;
}
.add_cauhinh{
	text-align: center;
}
.tbn-mausp{
    padding: 0.325rem 1.075rem !important;	
} 
.postbox-header h2  {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}
 
  .thumb {
	border: 1px solid #000000;
	width: 240px;
    height: 215px;
  }
  
  .thumb {
	margin-right: 10px;
	position: relative;
  }
  
 
  .time {
	position: absolute;
	margin-left: -25px;
	z-index: 999;
	cursor: pointer;
	color: #ce0122;
	
  }
  .postbox {
	padding-bottom: 10px;

  }
  .add_image{
	  margin-top: 10px;
	color: #0073aa;
	text-decoration: underline;
  }
  .thumb-1{
	width: 10% !important;
  }
  .thumb-2{
	width: 5% !important;
  }
  .thumb-3{
	width: 96% !important;
  }
  .color-item {
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    border-radius: 10%;
}
.nav-tabs .nav-item {
    margin-bottom: 8px !important;
}
.nav-tabs .nav-item button{
	margin-top: 7px;
}
.nav-tabs .nav-link {
	background-image: linear-gradient(to bottom, #4680ff 2px, rgba(255, 255, 255, 0) 2px ) !important;
	
}
[data-toggle="collapse"] .fa:before {  
	content: "\f139";
  }
  
  [data-toggle="collapse"].collapsed .fa:before {
	content: "\f13a";
  }
  .nav_mausaclatop li a i{
	position: absolute;
    right: 2px;
    cursor: pointer;
    color: #ce0122;
  }
 
 .imageThumb{
	border: 2px solid;
    padding: 1px;
    cursor: pointer;
    width: 240px;
    height: 215px;
    object-fit: cover;
 }

 input[type="file"] {
	display: block;
  }

  .pip {
	display: inline-block;
	margin: 10px 10px 0 0;
  }
  .remove {
	display: block;
	background: #444;
	border: 1px solid black;
	color: white;
	text-align: center;
	cursor: pointer;
  }
  .remove:hover {
	background: white;
	color: black;
  }
  .field{
	  margin-bottom: 10px;
  }
.card .card-main{
		background-color: #e7e7e7;
}
.btn-collapse{
	color: #37474f;
	font-size: 17px;
	text-decoration: none!important;
	font-weight: 500 !important;
}
.btn-collapse:hover {
	color: #4680ff;
    font-size: 17px;
    text-decoration: none;
}

.danhgia-star .star-rating {
    font-size: 0;
    white-space: nowrap;
    display: inline-block;
    /* width: 250px; remove this */
    height: 38px;
    overflow: hidden;
    position: relative;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }

  .danhgia-star .star-rating i {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /* width: 20%; remove this */
    z-index: 1;
    background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
    background-size: contain;
  }

  .danhgia-star .star-rating input {
    -moz-appearance: none;
    -webkit-appearance: none;
    opacity: 0;
    display: inline-block;
    /* width: 20%; remove this */
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: relative;
  }

  .danhgia-star .star-rating input:hover+i,
  .danhgia-star .star-rating input:checked+i {
    opacity: 1;
  }

  .danhgia-star .star-rating i~i {
    width: 40%;
  }

  .danhgia-star .star-rating i~i~i {
    width: 60%;
  }

  .danhgia-star .star-rating i~i~i~i {
    width: 80%;
  }

  .danhgia-star .star-rating i~i~i~i~i {
    width: 100%;
  }


  .danhgia-star .star-rating.star-5 {
    width: 189px;
  }

  .danhgia-star .star-rating.star-5 input,
  .danhgia-star .star-rating.star-5 i {
    width: 20%;
  }

  .danhgia-star .star-rating.star-5 i~i {
    width: 40%;
  }

  .danhgia-star .star-rating.star-5 i~i~i {
    width: 60%;
  }

  .danhgia-star .star-rating.star-5 i~i~i~i {
    width: 80%;
  }

  .danhgia-star .star-rating.star-5 i~i~i~i~i {
    width: 100%;
  }

  .danhgia-star .star-rating.star-3 {
    width: 150px;
  }

  .danhgia-star .star-rating.star-3 input,
  .danhgia-star .star-rating.star-3 i {
    width: 33.33%;
  }

  .danhgia-star .star-rating.star-3 i~i {
    width: 66.66%;
  }

  .danhgia-star .star-rating.star-3 i~i~i {
    width: 100%;
  }
 .add_nhanhcauhinh {
	display: flex;
	align-items: center;
}
.img_thongtinsp{
	padding: 10px 0;
}
.img_thongtinsp img{
    vertical-align: bottom;
}
.full-card .card-body {
    overflow-y: scroll;	
}